<!DOCTYPE html>
<html lang="en">
<head>
<!--STYLESHEETS-->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Summit Service Testimonials</title>
</head>
<body>

<!--LOGO -->
<div id="logo">
	<img src ="images/logo.png" alt="window, fascia, pressure, Gutter, cleaning, services">
</div>
<!--CONTACT INFO -->
<div id='reach'>
	<h1><img src='images/phone.png' alt= 'phone,cleaning'>+00000000000</h1>
	<h1><img src='images/email.png' alt= 'email,cleaning'>SampleEmail@gmail.com</h1>
	 </div>
<!--Social Media Links (Right of the page)-->
<div class="social-media-box">
<h2>twitter</h2>
<a href='https://twitter.com/'>
	<img src='images/medialogo1.png' alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>instagram</h2>
<a href='https://instagram.com/'>
	<img src='images/medialogo2.png' alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>facebook</h2>
<a href='https://www.facebook.com/Summit-Window-Cleaning-417375188721751/'>
	<img src='images/medialogo3.png' alt="window, fascia, pressure, Gutter, cleaning, services">
		</a>
<h2>google+</h2>
		<a href='https://plus.google.com/'>
			<img src='images/medialogo4.png' alt="window, fascia, pressure, Gutter, cleaning, services">
				</a>
</div>
<!--NAVIGATION BAR -->
	<nav>
		<ul id="menu">
	    <li class="home"><a href="/">Home</a></li>
	    <li class="window"><a href="/window">Window </a></li>
	    <li class="gutter"><a href="/gutter">Gutter </a></li>
	    <li class="fascia"><a href="/fascia">Fascia </a></li>
	    <li class="pressure"><a href="/pressure">Pressure </a></li>
	    <li class="testimonials" id="testimonials"><a href="/testimonials">Testimonials</a></li>
	    <li class="charity"><a href="/charity">Charity</a></li>
	    <li class="contact"><a href="/contact">Contact</a></li>
			<!--searchbox-->
				<gcse:search></gcse:search>

</ul>
	</nav>
	<main id="home-wrapper">
<div id='testimonial-content'>
	<div id='banner'>
		<img src='images/testimonial1.jpg' alt="window, fascia, pressure, Gutter, cleaning, services">
	</div>


<div id='testimonial-index'>
<div id='testimonial-index-header'>
	<h1>CUSTOMERS TESTIMONIALS</h1>
</div>
	<% for(var i=0; i< object.length; i++) {%>

		<div id='user-testimonial'>

			<% if(i % 2!=0){%>
				<div id='user-testominalbg1'>
					<% }
					else {%>
						<div id='user-testominalbg2'>
						<% }%>


<img src='images/user.png' class='username' alt="window, fascia, pressure, Gutter, cleaning, services"><h1><b><%=object[i].u_name %></b></h1>

	<div id='star-img'>
<!-- <h1>+ <%=object[i].u_rating %> </h1> -->
<% for(var s=0; s< object[i].u_rating; s++) {%>

	<img src='images/star2.png' style='width:25px; height:25px;' alt="window, fascia, pressure, Gutter, cleaning, services">


						<% } %>
</div>

<h3>"<%=object[i].u_comment %>"</h3>

</div>

<img src='images/service-icon2.png' class='service-img' alt="window, fascia, pressure, Gutter, cleaning, services"><h2><%=object[i].u_service%> +<%=object[i].u_rating%></h2>
</div>



<% }%>
<button class="loadMoreBttn" id='loadMoreBttn'>Load More..</button>

</div>

</div>

</div>
	</main>

	<!--FOOTER-->
		<footer>

					<div id='top-footer'>
					<section>
						<h1>SERVICES</h1>
							<a href="/window">Window</a>
								<a href="/gutter">Gutter</a>
									<a href="/fascia">Fascia</a>
										<a href="/pressure">Pressure</a>
											</section>
					<section>
						<h1>CONTACT</h1>
							<a href="/testimonials">Testimonials</a>
								<a href="/charity">Charity</a>
									<a href="/contact">Contact us</a>
										</section>

					<section>
						<h1>MISCELLANEOUS</h1>
							<a href=''>Terms And Services</a>
							<a href='/contact'>Contact Information</a>
							</section>
							<section>
								<h1>MENU</h1>
									<a href="/">Home</a>
									<a href="/login">Admin panel</a>
										</section>
				</div>
		<section>
			<div id='bottom-footer'>
				<div id='social-icons'>
					<br>
	<!--Social Media Links (bottom footer)-->
				<a href='https://twitter.com/'><img src='images/twitter.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
					<a href='https://www.facebook.com/Summit-Window-Cleaning-417375188721751/'><img src='images/facebook.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
						<a href='https://plus.google.com/'><img src='images/google.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
						<a href='https://instagram.com'><img src='images/instagram.png' alt="window, fascia, pressure, Gutter, cleaning, services"></a>
							<p>@copyright All rights reserved to up775005 - Final Year Project (PJE40) - Summit Window Cleaning</p>
								</div>
							</div>
	</section>
	</footer>
	<!--JAVASCRIPT STYLE-->
	  <script type="text/javascript" src="javascripts/script.js"></script>
	</body>
	</html>
